body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

.container {
  margin: 20px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-size: 24px;
  font-weight: 700;
  color: rgb(0, 136, 204);
  border-bottom: 1px solid rgb(238, 238, 238);
  margin: 10px 0;
  padding-bottom: 2px;
}

.alert {
  font-size: 13px;
  background-color: rgb(217, 237, 247);
  border: 1px solid rgb(188, 232, 241);
  color: rgb(51, 51, 51);
  margin-bottom: 20px;
  padding: 8px 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
}

strong {
  font-weight: 700;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.control-group {
  height: 65px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.control-label {
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}

input[type="text"] {
  font-size: 14px;
  background-color: rgb(238, 238, 238);
  color: rgb(85, 85, 85);
  height: 20px;
  width: 206px;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px 6px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
  transition: border 0.2s linear, box-shadow 0.2s linear;
  line-height: 20px;
}

#validar.btn-info {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
  margin-top: 10px;
  background-color: rgb(47, 150, 180);
  background-image: linear-gradient(rgb(91, 192, 222), rgb(47, 150, 180));
  background-repeat: repeat-x;
  height: 30px;
  padding: 4px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-position 0.1s linear;
}

.validation-result {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #EEEEEE;
}

.validation-header {
  width: 90%;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -1;
  margin: 0 auto;
}

.validation-message {
  width: 100%;
  padding: 1em;
  margin-top: 1em;
  background-color: #dff0d8;
  border-color: hsl(93, 44%, 85%);
  color: #3c763d;
}

.alert-success {
  width: 90%;
  font-size: 18px;
  height: 60px;
  background-color: #DFF0D8;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding-bottom: 80px;
}

.btn.btn-primary.btn-large {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17.5px;
  font-weight: 200;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(0, 68, 204);
  background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
  background-repeat: repeat-x;
  color: rgb(255, 255, 255);
  height: 40px;
  width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-right: 5px;
  padding: 11px 19px;
  display: inline-block;
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px;
  border-radius: 6px;
  transition: background-position 0.1s linear;
}